<!DOCTYPE html>
<html>
        <head>
            <title>{{ webpage_title }}</title>
        </head>
        <body>
        <form method="post">
            <input type="submit" name="action" value="eng-lang">
            <input type="submit" name="action" value="rus-lang">
        </form>
            <a href="http://127.0.0.1:8000/Billy/">
                <h2>{{ billy_herrington }}</h2></a>
            <img src=https://steamuserimages-a.akamaihd.net/ugc/955223561486116146/82DB8D17C9128620EB49C3CB1F7A36E65B393AA7/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false
                width="750"
                height="750">
            <a href="http://127.0.0.1:8000/Rybov/">
                <h2>{{ do_you_sell_fish }}</h2></a>
            <img src=https://leonardo.osnova.io/0234f89e-1208-5cbd-b08d-72422d547926/-/preview/600/-/format/webp/
                width="500"
                height="500">
            <a href="http://127.0.0.1:8000/Gosling/">
                <h2>{{ ryan_gosling }}</h2></a>
            <img src=https://sun9-85.userapi.com/impg/Ue1o-OJb0W0-lh5HCkGniYLjCVP075BaO2bjSw/dIcLirD8vjI.jpg?size=900x1080&quality=96&sign=640a461fde03373eb7db939aa508dfbd&type=album
                width="900"
                height="1080">
            <a href="http://127.0.0.1:8000/Cat/">
                <h2>{{ cat }}</h2></a>
            <img src=https://i.pinimg.com/originals/98/9a/37/989a371c2cd649f258e393500d854984.gif
                width="500"
                height="500">
            <a href="http://127.0.0.1:8000/Filth/">
                <h2>{{ filth }}</h2></a>
            <img src=https://sun9-46.userapi.com/impg/T6j_SPrEyfgQkPQGiPqBmq6zjSB45F4v3yitAg/skH2DMJpyms.jpg?size=1280x1067&quality=96&sign=a607d11d67daf6f261247c245029534c&type=album
                width="1000"
                height="867">
            <a href="http://127.0.0.1:8000/Papi4/">
                <h2>{{ papanya }}</h2></a>
            <img src="{{ url_for('static', path='/papi4.jpg') }}" style="width:100%;margin-bottom:-6px">
            <h1>{{ about_papi4 }}</h1>
        </body>
</html>